doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css') 
    script.
      A= function() {
        fetch('http://localhost:3000/product')
        .then(function(response) {
          return response.json();
        })
        .then(function(myJson) {
          console.log(myJson);
        })
      }

      // test 登入
      B= function() {
        fetch('http://localhost:3000/login', {
          method: 'post',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({account: 'a18010', password: '654321'})
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(myJson) {
          console.log(myJson);
          document.cookie = "athenaToken=" + myJson.token;
        })
      }

      // test 解析cookie
      C= function(name) {
        var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return v ? v[2] : null;
      }

      D= function() {
        fetch('http://localhost:3000/user', {
          method: 'get',
          headers: {
            Authorization: 'Bearer ' + C('athenaToken')
          }
        })
        .then(res => res.json())
        .then(myJson => {
          console.log(myJson);
        });
      }

      window.onload = function () {
        B();
        //- console.log(C('athenaToken'))
        //- D();
      }
  body
    block content
